[Unit]
Description=Service for disabling CPU Boost
ConditionPathExists=/sys/devices/system/cpu/cpufreq/boost
ConditionPathIsReadWrite=/sys/devices/system/cpu/cpufreq/boost

[Service]
Type=oneshot
ExecStart=bash -c 'echo 0 > /sys/devices/system/cpu/cpufreq/boost'
ExecStop=bash -c 'echo 1 > /sys/devices/system/cpu/cpufreq/boost'
RemainAfterExit=true

[Install]
WantedBy=basic.target
