[Unit]
Description=nftables static rule set
Documentation=man:nftables.service(8)
Before=shutdown.target
Conflicts=shutdown.target firewalld.service
DefaultDependencies=no
ConditionPathExists=/etc/nftables/rules/main.nft
# require systemd-networkd
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true
ExecStart=/usr/sbin/nft -c 'include "/etc/nftables/rules/main.nft"'
ExecStart=/usr/sbin/nft 'flush ruleset; include "/etc/nftables/rules/main.nft"'
ExecStop=/usr/sbin/nft 'flush ruleset'
ExecReload=/usr/sbin/nft -c 'include "/etc/nftables/rules/main.nft"'
ExecReload=/usr/sbin/nft 'flush ruleset; include "/etc/nftables/rules/main.nft"'
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
